.QL2 {
  flex-direction: column;
  background-color: #000000;
  color: white;
  display: flex;
  padding: 80px 80px;
  align-items: center;
  align-content: center;
}
.QL2 h1{
  font-size: 30px;
  height: 60px;
}

.QL {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  align-items: center;
  align-content: center;
}

.QL button {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  font-size: 14px;
  height: 20px;
  border-radius: 0px;
  border: 0;
  margin: 10px 20px !important;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid white;
  }
}

.QL2 button {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  font-size: 14px;
  height: 40px;
  margin: 10px 20px !important;
  border-radius: 0px;
  border: 0;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid white;
  }
}